.chart{
	width:600px;
	height: 471px;
	float: left;
	margin-left: 20px;
	border-width: 10px;
	border-color: black;
	border: solid;
	margin-top: 5px;
	background-color: rgba(227, 227, 227, 0.4);
}
.caption{
	margin-left: 10px;
	margin-right: 5px;
}
